<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue à toi! La liste des potins arrive très bientôt, sois patient!</h1>
    <p>ça arrive</p>
    <a href="/gossips/new/">Ajoutez vos potins</a>
    <% gossips.each do |gossip| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %>
      </p>
    <% end %>
  </body>
</html>